.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.content-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  @include for-size($desktop) {
    margin-top: 5vh;
  }
}

.flex {
  display: flex;
  &--row {
    display: flex;
    flex-direction: row;
  }
  &--column {
    display: flex;
    flex-direction: column;
  }
}

.justify {
  &--center{
    justify-content: center;
  }
}

.gap {
  @for $i from 1 through 10 {
    &--#{$i} {
      gap: #{$i*8}px;
    }
  }
}