.main {
  width: 100%;
  height: calc(100% - 58px);
  height: -o-calc(100% - 58px); /* opera */
  height: -webkit-calc(100% - 58px); /* google, safari */
  height: -moz-calc(100% - 58px); /* firefox */
}

.main-side-nav {
  min-height: 100vh;
  background-repeat: no-repeat;
  margin-top: 60px;

  @include for-size($desktop) {
    margin-left: 300px;
    margin-top: 0;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  @include for-size($desktop) {
    width: 10px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

