@font-face {
    font-family: 'Righteous';
    src: url('../../fonts/righteous/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../fonts/source-sans-pro/SourceSansPro-Regular.ttf');
}

body {
    font-family: $font-family-base;
}



.color {
    &-01 { color: $color-01; }
    &-02 { color: $color-02; }
    &-03 { color: $color-03; }
    &-04 { color: $color-04; }
    &-05 { color: $color-05; }
    &-06 { color: $color-06; }
    &-07 { color: $color-07; }
    &-08 { color: $color-08; }
    &-09 { color: $color-09; }
    &-10 { color: $color-10; }
    &-11 { color: $color-11; }
    &-12 { color: $color-12; }
    &-13 { color: $color-13; }
    &-14 { color: $color-14; }
    &-15 { color: $color-15; }
    &-16 { color: $color-16; }
    &-17 { color: $color-17; }
}