.coming-soon {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-text;
    padding: 15px;

    &__image-container {
        margin-bottom: 50px;
    }
    
    &__header {
        font-family: $font-family-headings;
        font-size: 3em;
        text-align: center;
        margin-bottom: 5px;
    }
}