.markdown-editor {
    background-color: #EFEEF8;
    height: 100vh;

    &__title {
        text-align: center;
    }

    .editor-wrapper {
        display: flex;
        border: 1px solid red;
        height: auto;

        .editor,
        .preview {
            width: 50%;
        }

        .editor {
            &__text-area {
                width: 100%;
                height: 80vh;
            }
        }



    }
}