.my-profile {
  &--error {
    padding-top: 15px;
  }

  .profile-info {
    position: relative;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include for-size(550px) {
      text-align: left;
      align-items: flex-start;

      .profile-info__meta {
        position: absolute;
        margin: 0;
      }
    }

    .profile-image-container {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: -75px;
      transition: transform 0.6s;
      transform-style: preserve-3d;
  
      @include for-size(768px) {
        bottom: -75px;
      }
  
      &:hover {
        transition: 2s;
        transform: rotateY(360deg);
      }
  
      &:after {
        background-color: #fff;
        background-image: #fff;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        width: 5px;
        z-index: -10;
        transform: rotateY(-90deg);
        -webkit-transform: rotateY(-90deg);
        transform-origin: 100% 50%;
        -webkit-transform-origin: 100% 50%;
      }
  
      &:before {
        background-color: #fff;
        background-image: #fff;
        border-radius: 100%;
        content: '';
        height: 150px;
        left: 0;
        position: absolute;
        top: 0;
        width: 150px;
        transform: translateZ(-5px);
        -webkit-transform: translateZ(-5px);
      }
  
      &__img {
        border-radius: 50%;
        width: 130px;
        height: 130px;
      }
    }

    &__name {
      font-family: $font-family-headings;
      text-transform: uppercase;
      margin-top: 12px;

      &--loading {
        width: 300px;
        height: 30px;
      }
    }

    &__meta {
      display: flex;
      gap: 10px;
      position: relative;
      top: 0;
      right: 0;
      margin: 15px 0 5px;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__stats {
      display: flex;
      gap: 20px;
      margin: 6px 0 15px;

      &-item--loading {
        width: 100px;
        height: 20px;
      }
    }

    &__bio {
      max-width: 600px;

      &--toggle {
        display: block;
        margin-top: 10px;
        cursor: pointer;
        color: $color-14;

        &:hover {
          color: lighten($color-11, 10);
        }
      }
    }

    .external-links {
      display: flex;
      margin-top: 30px;
      margin-left: -12px;
      gap: 5px;

      &__item {
        display: flex;
        font-size: 18px;
        padding: 12px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        max-width: 45px;
        max-height: 45px;

        &:hover {
          background-color: #fff;
          transition: all 0.2s ease 0s;
          box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px;
        }
      }
    }
  }

  .tabs {
    margin-top: 50px;
    padding-bottom: 90px;

    &-options {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #b8add2;
      color: #b8add2;
      position: relative;

      @include for-size(600px) {
        flex-direction: row;
        padding-bottom: 0;
      }
    }

    &-title {
      margin: 0 20px;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 5px;
      position: relative;
      transition: transform 0.25s;

      &::after {
        content: '';
        top: 10%;
        left: -20px;
        position: absolute;
        background: $color-05;
        width: 4px;
        height: 80%;
        border-radius: 0 2px 2px 0;
        transition: transform 0.5s;
        transform: scale(0);
        transform-origin: center;

        @include for-size(600px) {
          top: unset;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px 2px 0 0;
        }
      }
      &--active {
        color: $color-06;

        &::after {
          transform: scale(1);
        }
      }
    }
  }

  .alert {
    margin: 0 auto;
  }
}
