.unauthenticated {
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  &__content-wrapper {
    text-align: center;
    margin: auto
  }

  &__title {
    @include gradient-text;
    font-family: $font-family-headings;
  }

  &__description {
    max-width: 490px;
    line-height: 23px;
    font-weight: bold;
    color: $color-10;
    margin: 6px auto 0;
  }

  &__c2a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;

    @include for-size(360px) {
      flex-direction: row;
    }

    .btn {
      margin: 5px 15px;
    }
  }

  &__error-msg {
    color: $color-red;
    font-size: 14px;
    max-width: 400px;
    margin: 25px auto 0;
    font-style: italic;

    a {
      color: inherit;

      &:hover {
        color: lighten($color-red, 20);
      }
    }
  }
}