.worldOverviewHeader {
  background-image: linear-gradient(to right, rgba(255, 11, 172, 0.5), rgba(47, 18, 220, 0.5)), url(https://i.imgur.com/VpLJxrH.jpg);
  background-size: 100% 300px;
  background-repeat: no-repeat;
  position: relative;

  &__titleRow {
    display: flex;
    flex-flow: column;
    padding: $spacing-4x $spacing-2x;
    margin: 0 auto;

    @include for-size($desktop) {
      padding: $spacing-4x $spacing-10x;
    }

    &__title {
      font-family: Righteous, sans-serif;
      color: white;
      margin-bottom: $spacing-2x;

      @include for-size(990px) {
        font-size: unset;
      }

      @include for-size(991px) {
        font-size: 48px;
      }
    }
    &__description {
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      font-size: 16px;

      @include for-size($desktop) {
        max-width: 635px;
      }
    }
  }
}

.worldOverviewContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto 150px;

  @include for-size($tablet) {
    margin: 0 auto;
  }

  @include for-size($desktop) {
    margin: 0 auto 0;
    max-width: 1080px;
    padding: 0 $spacing-10x 250px;
  }
  &__titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
      font-family: Righteous, sans-serif;
      font-size: 3em;
      color: $color-text;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
    &__button {
      padding-left: 1rem;
    }
  }
  &__description {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 20.11px;
    max-width: 100%;
    color: $color-text;
    padding: 0 1rem;
    @include for-size($desktop) {
      max-width: 60%;
    }
  }
}

.feedback {
  background-color: white;
  padding: $spacing-2x;
  margin-bottom: $spacing-8x;
  border: 1px solid #f2f2f2;
  transition: border .25s ease;
  border-radius: 10px;

  &:hover {
    color: $color-koios-pink;
    border: 1px solid $color-koios-pink;
  }

  @include for-size($desktop) {
    top: 0;
    margin-bottom: unset;
  }

  &__link {
    color: $color-koios-dark-grey;
    text-decoration: none;
    width: $spacing-2x;
    text-align: center;
    font-weight: 700;
    transition: color .25s ease;

    &:hover {
      color: $color-koios-pink;
    }
  }
}

