.worlds {
  &__title {
    display: flex;
    justify-content: center;
    font-family: Righteous, sans-serif;
    font-size: 2.5em;
    line-height: 59.6px;
    padding: 1em 0 0;
    color: $color-text;
    text-align: center;

    @include themify($themes) {
      color: themed(textColor);
    }

    @include for-size($desktop) {
      font-size: 3em;
    }
  }

  &__subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    max-width: 25em;
    margin: 1.5em auto 15px;
    // color: $color-text;
    
    @include themify($themes) {
      color: themed(textColor);
    }
  }

  .card-container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, 19em);
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 6em auto 0;
    max-width: 1080px;

    @include for-size($mobile, $desktop) {
      padding: 0 2rem;
    }
  }
}

.btn {
  display: block;
  margin: 0 auto;
}
