.world-detail {
    .content-player {
        display: flex;
        &__video-container {
            max-width: 900px;
            width: 100%;
            position: relative;
            padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
            height: 0;
            overflow: hidden;
            .youtube-embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &__video-list {
            overflow: auto;
            height: 600px;
        }
    }
    &__description {
        white-space: pre-line;
    }
}
