.world-detail {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  max-width: 1080px;

  .content-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #282c34;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto 2em;
    @include for-size($desktop) {
      flex-wrap: nowrap;
      height: 27.5em;
    }
    &__video-container {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      .youtube-api {
        width: 100%;
        height: 52.3vw;
        @include for-size($desktop) {
          height: 100%;
          width: 100%;
        }
        iframe {
          width: 100%;
          height: 100%;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom-left-radius: 0;
          @include for-size($desktop) {
            width: 98%;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-top-right-radius: 0;
          }
        }
      }
    }
    &__listContainer {
      width: 23.7em;
      overflow: auto;
      padding: 0.5rem;
      @include for-size($desktop) {
        padding: 0.5rem 0.5rem 0.5rem 0;
      }
      @include for-size($tablet, $desktop) {
        width: 100%;
      }
      &__video-list {
        max-height: 10em;
        overflow: auto;
        @include for-size($desktop) {
          max-height: 100%;
          padding: 0.5rem 0.5rem 0.5rem 0;
        }
        @include for-size($tablet, $desktop) {
          width: 100%;
        }
        h2 {
          color: white;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 600;
          font-size: 1.125em;
          margin: 0.5em 0;
        }
        li {
          padding: 0.25em;
          margin-bottom: 0.5em;
          background: #1c1f24;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          transition: all 0.2s ease;
          &:hover {
            background-color: gray;
          }
          svg {
            min-width: 15px;
            min-height: 15px;
            width: 15px;
            height: 15px;
            margin: auto 0.5em auto 0.25em;
            fill: white;
            cursor: pointer;
            &:hover {
              //fill: $koios-green--hover;
              fill: url(#gradient-koios);
            }
          }
          p {
            color: white;
            padding-left: 0.5em;
            margin: auto 0;
          }
          a {
            text-decoration: none;
            color: lightgray;
            width: 100%;
          }
        }
        &::-webkit-scrollbar {
          width: 0;
          @include for-size($desktop) {
            width: 8px;
          }
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: white;
          border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
    }
  }
  .cta-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2em;

    .cta-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 0;
      padding-right: 1em;
      text-decoration: none;
      color: $color-text;
      margin-bottom: 1em;
      margin-right: 1em;

      &:hover {
        .cta-button__img {
          border: 3px solid $color-koios-pink;
        }
        p {
          color: $color-koios-pink;
        }
      }

      &__img {
        width: 40px;
        height: 40px;
        padding: 6px;
        border: 3px solid lightgray;
        border-radius: $radius;
        transition: all 0.2s ease;
        cursor: pointer;

        &--emoji {
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 8px;
        }
      }

      &__text {
        align-self: center;
        font-size: 20px;
        margin-left: 0.5em;
        cursor: pointer;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;

    @include for-size($desktop) {
      flex-direction: row;
    }

    .literature {
      width: 100%;
      margin-right: 10px;

      @include for-size($desktop) {
        width: 70%;
      }

      .article {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          scroll-margin-top: 32px;
        }
      }
    }

    .nav-page-links {
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      margin-top: 50px;
      margin-bottom: 24px;
      border-bottom: 2px solid #e6ecf1;

      .page-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #e6ecf1;
        box-shadow: 0 3px 8px 0 rgb(116 129 141 / 10%);
        padding: 16px;
        width: 45%;
        text-decoration: none;
        color: #262626;
        border-radius: 10px;

        &:hover {
          color: $color-koios-blue;
          border: 1px solid $color-koios-blue;
          transition: all 0.2s ease;
        }

        &__previous {
          text-align: right;
        }

        &--full-width {
          width: 100%;
        }

        .page-link-text {
          display: flex;
          flex-direction: column;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &__sub-title {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.625;
            color: #9daab6;
          }

          &__video-title {
            font-weight: bold;
            max-width: 200px;
            overflow: hidden;
          }
        }

        .page-link-icon {
          width: 15px;
          fill: #9daab6;
        }
      }
    }

    .table-of-contents {
      width: 100%;
      align-self: flex-start;
      top: 40px;
      margin-bottom: 40px;
      @include for-size($desktop) {
        width: 30%;
        position: sticky;
        position: -webkit-sticky; /* Safari */
      }

      &__title {
        font-size: 0.875em; //14px;
        color: $color-text;
      }

      &__list-item {
        color: $color-koios-pink;
        font-weight: bold;
        opacity: 0.5;
        transition: background-color 0.25s ease;
        margin: 5px 0;

        &:hover {
          opacity: 1;
        }

        &--h2 {
          margin-left: 10px;
        }

        &--h3 {
          margin-left: 20px;
        }

        &--h4 {
          margin-left: 30px;
        }

        &--h5 {
          margin-left: 40px;
        }

        &--h6 {
          margin-left: 50px;
        }
      }

      &__link {
        &:hover {
          color: $color-koios-pink;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

.watched {
  opacity: 0.25;
  svg {
    fill: url(#gradient-koios) !important;
  }
}

.active-state {
  opacity: 1 !important;
  background-color: gray !important;
}
