.worldOverviewContainer {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  @include for-size($desktop) {
    max-width: 1080px;
  }
  &__titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
      font-family: Righteous, sans-serif;
      font-size: 3em;
      color: $color-text;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
    &__button {
      padding-left: 1rem;
    }
  }
  &__description {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 20.11px;
    max-width: 100%;
    color: $color-text;
    padding: 0 1rem;
    @include for-size($desktop) {
      max-width: 60%;
    }
  }
}