.b-koios, .b-koios:before {
  background: $gradient-koios;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
}

.button-container {
  display: block;
  text-align: center;
  .button:after {
    background: white;
  }
  .button {
    display: inline-block;
    position: relative;
    border-radius: $radius;
    text-decoration: none;
    padding: .5em 2.5em;
    margin: 1em 0;
    transition: all .1s;
    //background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: $button-shadow;
    p {
      background: $gradient-koios;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 0.9rem;
    }
    @media (max-width: $mobile) {
      font-size: 0.9rem;
    }
  }
  .button:active {
    background: $button-active-color;
  }
  .button:hover {
    box-shadow: $button-shadow-hover;
  }
  .button:hover:after {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .button:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: $radius;
    transition: all 0.1s;
    &:active {
      background-color: $button-active-color;
    }
  }
  .button:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: -1;
    border-radius: 8px;
    transition: all .1s ease;
    &:active {
      background-color: $button-active-color;
    }
  }
}