.cardContainer {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, 19em);
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 6em auto 0;
  max-width: 1080px;
  @include for-size($mobile, $desktop) {
    padding: 0 2rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    width: 19em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 21px -10px rgba(110,110,110,0.5);
    transition: all 0.2s ease;
    margin-bottom: 2em;
    background-color: white;
    text-decoration: none;
    @include for-size($mobile, $desktop) {
      width: 19em;
    }
    &:hover {
      box-shadow: 0px 0px 21px -10px rgba(110,110,110,1);
      transform: translateY(-0.5em);
    }
    &__img {
      width: 10em;
      height: 10em;
      margin: auto;
    }
    &__text {
      flex-grow: 1;
      &__title {
        margin: 1rem 0 0.5em;
        color: $color-koios-dark-grey;
      }
      &__metaData {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        p {
          display: flex;
          flex-direction: row;
          margin-right: 1em;
          color: #bdbdbd;
          .clock {
            align-self: center;
            margin-right: 0.5em;
            width: 1em;
            height: 1em;
            fill: currentColor;
          }
        }
      }
    }
    &__description {
      text-align: left;
      margin-bottom: 3em;
      font-family: "Source Sans Pro", sans-serif;
      flex-grow: 1;
      max-height: 6.5em;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $color-koios-dark-grey;
      @include for-size($desktop) {
        max-height: 6.2em;
      }
    }
    &__link {
      text-decoration: none;
      padding: 0.35em 3em;
      border-radius: $radius;
      box-shadow: $button-shadow;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      transition: all 0.2s ease;
      margin: 0 auto;
      align-self: flex-end;
      p {
        background: $gradient-koios;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:hover {
        box-shadow: $button-shadow-hover;
      }
      &:active {
        background-color: $button-active-color;
      }
    }
  }
}
