.levelCards-container {
  display: flex;
  flex-flow: column;
  padding: $spacing-4x 0;

  @include for-size($tablet) {
    margin-top: $spacing-6x;
    padding-bottom: $spacing-10x;
    border-bottom: 1px solid #f2f2f2;
  }

  .text-holder {
    padding-bottom: $spacing-2x;
    border-top: 1px solid #f2f2f2;

    @include for-size($tablet) {
      padding-top: $spacing-10x;
    }

    &__title {
      font-size: 24px;
      padding-bottom: $spacing-2x;
      color: $color-koios-dark-grey;
    }

    &__description {
      color: $color-koios-dark-grey;
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: $spacing-2x;
    grid-template-rows: 150px 150px 150px;

    @include for-size($tablet) {
      grid-template-columns: 162px 162px 162px;
      grid-column-gap: $spacing-2x;
      grid-template-rows: 223px;
    }

    .card {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      height: 150px;
      background-image: linear-gradient(134.84deg, rgba(254, 23, 162, 0.8) -5.82%, rgba(83, 31, 194, 0.8) 114.75%), url(https://i.imgur.com/VpLJxrH.jpg);
      background-size: 100% 100%;
      border-radius: 10px;
      padding: $spacing-2x $spacing-1x;
      text-decoration: none;
      transition: background-size 0.2s ease;

      @include for-size($tablet) {
        height: 223px;
      }

      &:hover {
        background-size: 111% 111%;
      }

      &__title {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 26px;
        color: white;
      }

      &__subtitle {
        color: white;
        font-family: "Source Sans Pro", sans-serif;
        height: 2em;
      }
    }
  }
}
