.markdown {
  h1 {
    font-family: $font-family-headings;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 32px;
  }

  h3 {
    font-size: 1em;
  }

  p {
    margin-top: 16px;
  }

  img {
    width: 100%;
  }

  blockquote {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px;
    border-left: 4px solid $color-koios-blue;
    background-color: rgb(245, 247, 249);

    p {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    color: $color-koios-pink;
  }

  ul,
  ol {
    margin-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  #further-readings + ul,
  #further-readings-sources-or-support + ul,
  #-further-readings-sources-or-support + ul {
    list-style-type: none;
    margin-left: 0;

    li a {
      display: block;
      text-decoration: none;
      border: 1px solid #e6ecf1;
      border-radius: 10px;
      box-shadow: 0 3px 8px 0 rgb(116 129 141 / 10%);
      padding: 16px 15px;
      margin-top: 10px;
      color: $color-koios-pink;

      &:hover {
        color: $color-koios-blue;
        border-color: $color-koios-blue;
        transition: all 0.2s ease;
      }

      &::before {
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 900;
        content: "\f061";
        padding-right: 20px;
      }
    }
  }

  .responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
