.metablocks {
  .metablock {
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 600;
    color: $color-12;
    width: fit-content;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px 0;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &__title {
      color: $color-09;
      font-size: 16px;
      margin-bottom: 3px;
    }

    &__img {
      width: 20px;
      height: 20px;
    }
  
    &__content {
      margin-left: 8px;
    }

    &__img,
    &__content {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
