.profile-banner {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 4px #000;
  color: #fff;
  position: relative;
  margin-bottom: 15px;

  @include for-size($desktop) {
    height: 280px;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .user-progress {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    text-align: right;
    margin: 15px;

    @include for-size($desktop) {
      flex-direction: column;
      top: unset;
      left: unset;
      bottom: 0;
      width: 50%;
    }

    &__level {
      line-height: 1;
      font-size: 16px;
      display: flex;
      justify-content: flex-end;

      @include for-size($desktop) {
        align-items: baseline;
      }

      &--number {
        font-size: 40px;
        margin-left: 5px;
        margin-top: -5px;
      }
    }

    &__xp {
      &--grey {
        color: $color-09;
      }
    }

    &__bar {
      width: 100%;
      height: 5px;
    }
  }
}