.quickLinkContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  padding: 0 $spacing-2x;
  //margin-top: 1em;
  position: relative;

  &::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__link {
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    //min-width: 9rem;
    text-align: center;
    padding: 0.25em 1em;
    margin: 1rem 1rem 1rem 0;
    border-radius: $radius;
    box-shadow: $button-shadow;
    transition: all 0.2s ease;
    white-space: nowrap;
    p {
      background: $gradient-koios;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:hover {
      box-shadow: $button-shadow-hover;
    }
    &:active {
      background-color: $button-active-color;
    }
  }
}
