.quickLinkContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $spacing-2x;
  grid-row-gap: $spacing-2x;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: $spacing-4x;

  @include for-size($desktop) {
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .btn {
    width: 100%;
  }
}
