.quickLinkContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $spacing-2x;
  grid-row-gap: $spacing-2x;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: $spacing-4x;

  @include for-size($desktop) {
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  &__link {
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0.25em 1em;
    border-radius: $radius;
    box-shadow: $button-shadow;
    transition: all 0.2s ease;
    white-space: nowrap;
    p {
      background: $gradient-koios;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:hover {
      box-shadow: $button-shadow-hover;
    }
    &:active {
      background-color: $button-active-color;
    }
  }
}
