.smallCard-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px;
  max-width: 1080px;
  left: 0;
  right: 0;

  @include for-size($tablet) {
    padding: 0 $spacing-2x;
  }

  @include for-size($desktop) {
    padding: 0 $spacing-10x;
    transform: translateY(50px);
  }

  .smallCard {
    background-color: white;
    padding: $spacing-2x;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: $spacing-2x auto;
    max-width: 270px;

    @include for-size($tablet) {
      max-width: 230px;
    }

    @include for-size($desktop) {
      max-width: 270px;
    }

    &__title-row {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-bottom: $spacing-2x;

      svg {
        width: 50px;
        height: 50px;
        fill: #6D59E6;
      }
    }
    &__title {
      font-family: $font-family-headings;
      color: $color-koios-dark-grey;
      font-size: 2rem;
    }

    &__description {
      margin-bottom: $spacing-2x;
    }

    &__link {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 700;
      background-color: rgba(204, 8, 137, 40%);
      padding: $spacing-1x;
      border-radius: 10px;
      text-decoration: none;
      transition: background-color .25s ease;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgba(204, 8, 137, 80%);
      }
    }
  }
}
