// stylesheet imports

/* Utils */
@import "./utils/mixins";
@import "./utils/variables";

/* Base */
@import "./base/main";
@import "./base/reset";
@import "./base/grid";
@import "./base/typography";

/* Pages */
@import "src/assets/css/pages/Worlds";
@import "src/assets/css/pages/WorldOverview";
@import "./pages/coming-soon";
@import "src/assets/css/pages/Worlds";
@import "src/assets/css/pages/Profile";
@import "src/assets/css/pages/WorldDetail";
@import "./pages/leaderboard";
@import "./pages/404";
@import "./pages/Contribute";
@import "./pages/ExplanationVideos";
@import "./pages/Earn";
@import "./pages/VacancyDetail";

/* Layout */
@import "./layout/main-nav";

/* Components */
@import "src/assets/css/components/Button";
@import "src/assets/css/components/Card";
@import "src/assets/css/components/QuickLinks";
@import "src/assets/css/components/LinkCard";
@import "src/assets/css/components/TabInfo";
@import "src/assets/css/components/SetupModal";
@import "src/assets/css/components/Quiz";
@import "src/assets/css/components/ExploreMore";
@import "src/assets/css/components/Loading";
@import "src/assets/css/components/SmallCard";
@import "src/assets/css/components/LearnToNavigate";
@import "src/assets/css/components/LevelCards";
@import "src/assets/css/components/Team";
@import "src/assets/css/components/DiscordEmbed";
@import "src/assets/css/components/vacanciesIntro";
@import "src/assets/css/components/VacancyCard";
