.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(60,60,60,.1);

    &__img-container {
        width: 100px;
        height: auto;
    }

    &__img {
        width: 100%;
        height: auto;
    }

}