.modal-discord-name {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background-color: #fff;
  border-radius: 0;
  padding: 30px 15px 10px;

  @include for-size (650px) {
    width: 500px;
    height: 250px;
    border-radius: 20px;
  }

  &__title {
    font-family: $font-family-headings;
    margin-bottom: 15px;
  }

  &__description {
    font-family: $font-family-headings;
    margin-bottom: 15px;
  }

  &__message {
    font-family: $font-family-headings;
  }

  &__input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin: 5px 0px;
  }

  .btn {
    margin: 5px 0px;
  }
}
