$color-base: $color-13;
$color-highlight: lighten($color-base, 7%);

.skeleton-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: $color-base;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
    animation: loading 1s ease-in-out infinite;
  }

  &--image {
    width: 230px;
    height: 230px;
  }

  &--title {
    height: 25px;
    border-radius: 4px;
  }

  &--metatag {
    width: 80px;
    height: 20px;
  }
}

@keyframes loading {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}