/* Colors */
$color-01: #ff0bac; 
$color-02: #2f12dc;
$color-03: #d50cb6;
$color-04: #ac0ebf;
$color-05: #820fc9;
$color-06: #5911d2;
$color-07: #f8fbfe;
$color-08: #ececec;
$color-09: #d7d7d7;
$color-10: #bdbdbd;
$color-11: #424242;
$color-12: #262626;

/* Old color support */
$color-koios-pink: $color-01;
$color-koios-blue: $color-02;
$color-koios-dark-grey: $color-11;
$color-text: $color-12;

/* Gradients */
$gradient-koios: linear-gradient(to right, $color-koios-pink, $color-koios-blue);
$gradient-koios-transparent: linear-gradient(to right, rgba(255, 11, 172, 0.5), rgba(47, 18, 220, 0.5));
$gradient-koios-transparent-02: linear-gradient(to right, rgba(255, 11, 172, 0.3), rgba(47, 18, 220, 0.3));
$gradient-koios-transparent-03: linear-gradient(to right, rgba(255, 11, 172, 0.05), rgba(47, 18, 220, 0.05));

/* Button shadow */
$button-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
$button-shadow-hover: -2px 2px 4px rgba(0, 0, 0, 0.3);

/* Button shadow */
$button-active-color: #fafafa;

/* Button radius */
$radius: 11px;

/* Screen size definitions */
$mobile: 320px;
$tablet: 480px;
$desktop: 769px;
$desktop-large: 1024px;

/* Fonts */
$font-family-headings: Righteous, Arial, sans-serif;
$font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Spacings */
$spacing-1x: 8px;
$spacing-2x: 16px;
$spacing-3x: 24px;
$spacing-4x: 32px;
$spacing-5x: 40px;
$spacing-6x: 48px;
$spacing-7x: 56px;
$spacing-8x: 64px;
$spacing-9x: 72px;
$spacing-10x: 80px;